@font-face {
  font-family: 'Rose Regular';
  src: url(/fonts/RedRose-Regular.ttf);
}

@font-face {
  font-family: 'Rose Bold';
  src: url(/fonts/RedRose-Bold.ttf);
}

@font-face {
  font-family: 'Almarai';
  src: url(/fonts/Almarai-Regular.ttf);
}

@font-face {
  font-family: 'Almarai Bold';
  src: url(/fonts/Almarai-Bold.ttf);
}

@font-face {
  font-family: 'Delicius';
  src: url(/fonts/DeliusUnicase-Bold.ttf);
}

@font-face {
  font-family: 'Klee One';
  src: url(/fonts/KleeOne-SemiBold.ttf);
}
